@import "./_all";

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: yellow;
  stroke-width: 1.5px;
}

body,
.row,
html,
.container-fluid,
.row {
  background-color: #01001c !important;
  // overflow: hidden;

  @media only screen and (max-width: 700px) {
    overflow: scroll;
  }
}

#undefinedUserErr {
  padding: 0.5rem;
  width: fit-content;
  color: white;
  background-color: red;
  font-family: $body-font;
  margin-left: 1rem;
  display: none;
}

#brand-controls {
  padding: 0.25rem;

  img {
    width: 45px;
    display: inline;
  }
  h5 {
    position: absolute;
    margin-top: 0.6rem;
    left: 75px;
    font-family: $title-font;
    color: $cream;
    display: inline;
  }
}

#extraControls {
  margin-bottom: 1rem;
}

#modeTogglerBtn {
  margin-top: -0.5rem;
  font-size: x-small;
  display: inline;
}

div#computeControls {
  margin: 0.5rem auto;
  font-size: x-small;

  @media only screen and (max-width: 700px) {
    font-size: small;
    margin: 1.25rem auto 1rem auto;
    border-bottom: $blue 3px dotted;
    border-top: $blue 3px dotted;
  }
}

#indicatorCtrls {
  position: absolute;
  left: 11%;
  width: 300px;
  z-index: 100;

  ul {
    li {
      list-style-type: none;
      display: inline;
    }
  }
}

h4.chartHeader {
  margin: 0.5rem;
  text-align: right;
}

h4.chartHeader#optionsH {
  display: none;

  @media only screen and (max-width: 700px) {
    display: block;
    position: relative;
    margin: 0.5rem;
    text-align: right;
  }
}

#sideCol {
  padding-top: 0.5rem;
}

.topControls {
  font-family: $body-font;

  div.row {
    margin-top: 0.25rem;
  }

  button {
    margin-left: 0.5rem;
  }

  a {
    font-style: italic;
    color: $cream;
  }
}

.right {
  text-align: right;
}

.arrows {
  margin-left: 1rem;

  button {
    all: unset;
    width: fit-content;
    margin-right: 0.75rem;
  }
  h2 {
    display: inline;
  }
}

#computeRow {
  text-align: right;

  div {
    margin: 0.25rem auto;
  }

  @media only screen and (max-width: 700px) {
    margin-top: 1rem;
    padding-right: 1rem;
  }
}

.controls-sub {
  color: $cream;
  text-align: right;

  p,
  select {
    display: inline;
    margin-left: 0.5rem;
  }
}

#shareResult {
  font-size: inherit;
  padding: auto 0.75rem;
  color: $ivory;
  background-color: transparent;
}

#shareResult:hover {
  color: black;
  background-color: $cream;
}

#computeParamsDiv {
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: $blue 1px solid;
}

.computeInputs {
  width: 70px;
  padding: 0.15rem 0.5rem;
  margin-bottom: 0.25rem;
  color: $cream;
  background-color: #01001c;
  border-radius: 5px;
  border: $blue 2px solid;

  @media only screen and (max-width: 700px) {
    margin-left: 0.25rem;
    padding: 0.25rem;
  }
}

label {
  font-size: inherit;
}

div.col-4 {
  text-align: right;
}

input[type="datetime-local"] {
  width: 165px;
  padding: 0.2rem;
  color: $cream;
  border-radius: 5px;
  border: $blood 2px solid;
  background-color: #01001c;
  font-size: inherit;

  @media only screen and (max-width: 700px) {
    width: 200px;
    padding: 0.25rem;
  }
}

input[type="number"] {
  font-size: inherit;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#tickerSelect,
#periodSelect,
select {
  width: 150px;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: #01001c;
  color: $cream;
  border: $blue 2px solid;
  border-radius: 5px;
  font-size: inherit;
  font-family: $body-font;
}

#periodSelect {
  width: 80px;
  border: $blue 2px solid;
}

#resSelect {
  width: 140px;
}

#computeBtn {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: $blood;
  color: $cream;
  border-color: $cream;
}

#computeBtn:hover {
  background-color: $cream;
  color: $blood;
  border-color: $blood;
}

#wsStatus {
  display: inline;
  margin-left: 0.5rem;
  color: $cream;
}

#wsStatus.connected {
  animation: blinkingText 5s infinite;
}

#wsStatus.disconnected {
  color: orange;
}

@keyframes blinkingText {
  0% {
    color: yellowgreen;
  }
  49% {
    color: yellowgreen;
  }
  60% {
    color: green;
  }
  99% {
    color: green;
  }
  100% {
    color: yellowgreen;
  }
}

div.modal-content {
  background-color: $blue;
}

#ohlcDisplay {
  margin: 1rem 4.5rem;
  padding: 0.35rem;
  width: fit-content;
  font-size: x-small;
  background-color: black;
  color: $cream;

  @media only screen and (max-width: 700px) {
    margin-left: 3rem;
    font-size: x-small;
  }

  span {
    color: hotpink;
    margin-left: 0.25rem;
  }
}

.center {
  text-align: center;
}

button {
  font-family: $body-font;
  background-color: #01001c;
  color: $cream;
  border-radius: 5px !important;
  border: $cream 2px solid;
  padding: 0.25rem 0.5rem;
}

#getMoreDataBtn {
  margin-left: 0.75rem;
}

label {
  color: $cream;
  margin-top: 0.25rem;

  @media only screen and (max-width: 700px) {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  // padding-bottom: 100%;
  // overflow: hidden;
  height: 830px;

  // @media only screen and (max-width: 700px) {
  //   height: 600px;
  // }
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 1%;
}

div.inline {
  margin: 0.5rem auto;
  color: $cream;

  h4, h5, p {
    font-family: $title-font;
    display: inline;
  }
  h5.value {
    background-color: $blood;
    padding: 0.1rem;
  }
}

div.stacked {
  overflow: scroll;
  padding: 0.75rem;
}

div.stacked::-webkit-scrollbar {
  width: 10px;
}

div.stacked::-webkit-scrollbar-track {
  background: black;
}

div.stacked::-webkit-scrollbar-thumb {
  background-color: darkred; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black;
}

#profitCurveDiv {
  height: 20rem;
  overflow: hidden;

  @media only screen and (max-width: 700px) {
    height: 16rem;
  }
}

#simTradesDiv {
  height: 30rem;
  margin-bottom: 1rem;
}

.thead {
  background-color: #01001c;
  color: $cream;
  padding: auto 0.25rem;
}

td {
  padding: 0.5rem;
  font-size: x-small;

  @media only screen and (max-width: 700px) {
    font-size: x-small;
  }
}

tr:hover {
  background-color: #0000bd !important;
}

#histogramBtns {
  button {
    border: none;
  }

  p {
    display: inline;
    color: $cream;
    background-color: purple;
    padding: 0.25rem;
    margin-left: 0.5rem;
  }
}

/* d3 */

.upGreenArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 12px 4.5px;
  border-color: transparent transparent $green transparent;
}

.downRedArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 4.5px 0 4.5px;
  border-color: $blood transparent transparent transparent;
}

.upArrow {
  position: relative;
  top: -15px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: $green;
}
.upArrow:after {
  position: absolute;
  content: "";
  top: 20px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: $green;
}

.downArrow {
  position: relative;
  top: 18px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: $blood;
}
.downArrow:after {
  position: absolute;
  content: "";
  top: -15px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: $blood;
}

/* d3 candle stick start */

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: $body-font;
  font-size: 10px;
  fill: white;

  @media only screen and (max-width: 700px) {
    font-size: 35px;
  }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

/* d3 candle stick end */


/* Copy link css */
.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

button {
  font-family: $body-font !important;
  font-size: larger !important;
}