@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  color: #fffdd0;
}

p,
label,
input,
form {
  font-family: "Alata", sans-serif;
  font-size: medium;
}

button {
  font-family: "DM Serif Display", serif;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.4em 0.3em auto 0.3em;
}

.section-head {
  margin: 2rem auto 1rem auto;
}

p.breaker {
  text-align: center;
  margin: 1rem;
  color: #8a0000;
}

a {
  text-decoration: none;
  color: #fffdd0;
  display: inline-block;
}

a:visited {
  color: #001b6b;
}

a:hover {
  text-decoration: line-through;
  color: #001b6b;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: yellow;
  stroke-width: 1.5px;
}

body,
.row,
html,
.container-fluid,
.row {
  background-color: black !important;
}

#brand-h {
  font-family: "DM Serif Display", serif;
  margin: 0.75rem;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  background-color: black;
}

div#computeControls {
  margin-top: 0.75rem;
}

.topControls {
  margin-left: -1rem;
  font-family: "Alata", sans-serif;
}
.topControls div {
  margin: 0.5rem;
}

.right {
  text-align: right;
}

.arrows {
  margin: 0.5rem;
  margin-bottom: -0.5rem;
  color: #fffdd0;
}
.arrows button {
  all: unset;
  width: fit-content;
  margin-right: 0.75rem;
}
.arrows computeBtn h2 {
  display: inline;
}

#computeRow {
  margin-top: 1rem;
}

.controls-sub {
  color: #fffdd0;
  text-align: right;
}
.controls-sub p, .controls-sub select {
  display: inline;
  margin-left: 0.5rem;
}

#shareResult {
  margin: 0.5rem;
}

#computeParamsDiv {
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: #001b6b 1px solid;
}

.computeInputs {
  padding: 0.25rem;
  margin-left: 0.25rem;
  margin-top: 0.5rem;
  color: #fffdd0;
  background-color: black;
  border-radius: 5px;
  border: #8a0000 2px dashed;
}

label {
  font-size: small;
}

input[type=datetime-local] {
  width: 200px;
  padding: 0.25rem;
  margin-left: -0.25rem;
  color: #fffdd0;
  border-radius: 5px;
  border: #8a0000 2px dashed;
  background-color: black;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#tickerSelect,
#periodSelect,
select {
  width: 170px;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: black;
  color: #fffdd0;
  border: #8a0000 2px solid;
  border-radius: 5px;
  font-size: small;
  font-family: "Alata", sans-serif;
}

#periodSelect {
  width: 80px;
  border: #001b6b 2px solid;
}

#resSelect {
  width: 140px;
  margin-right: 0.5rem;
}

#computeBtn {
  margin-left: 1.5rem;
  background-color: #8a0000;
  color: #fffdd0;
}

#wsStatus {
  display: inline;
  margin-left: 0.5rem;
  color: #fffdd0;
}

#wsStatus.connected {
  animation: blinkingText 5s infinite;
}

#wsStatus.disconnected {
  color: orange;
}

@keyframes blinkingText {
  0% {
    color: yellowgreen;
  }
  49% {
    color: yellowgreen;
  }
  60% {
    color: green;
  }
  99% {
    color: green;
  }
  100% {
    color: yellowgreen;
  }
}
div.modal-content {
  background-color: #001b6b;
}

#ohlcDisplay {
  margin: 0.5rem 6.5rem;
  padding: 0.35rem;
  width: fit-content;
  font-size: small;
  background-color: #120011;
  color: #fffdd0;
}
@media only screen and (max-width: 700px) {
  #ohlcDisplay {
    margin-left: 3rem;
    font-size: x-small;
  }
}
#ohlcDisplay span {
  color: cyan;
  margin-left: 0.25rem;
}

button {
  font-family: "Alata", sans-serif;
  background-color: black;
  color: #fffdd0;
  border-radius: 5px !important;
  border: #fffdd0 2px solid;
  padding: 0.25rem 0.5rem;
}

#getMoreDataBtn {
  margin-left: 0.75rem;
}

label {
  color: #fffdd0;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  height: 600px;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0.5%;
  left: 1%;
}

div.stacked {
  margin-bottom: 0.5rem;
  overflow: scroll;
  padding: 0.75rem;
}
div.stacked h4 {
  position: absolute;
  margin-left: -6rem;
  margin-top: 7rem;
  transform: rotate(270deg);
}

div.stacked::-webkit-scrollbar {
  width: 12px;
}

div.stacked::-webkit-scrollbar-track {
  background: orange;
}

div.stacked::-webkit-scrollbar-thumb {
  background-color: #8a0000;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid orange;
}

#profitCurveDiv {
  height: 24rem;
  overflow: hidden;
}

#simTradesDiv {
  height: 34rem;
}
#simTradesDiv h4 {
  margin-left: -7rem;
}

.thead {
  background-color: #001b6b;
  color: #fffdd0;
  padding: auto 0.25rem;
}

td {
  padding: 0.5rem;
  font-size: small;
}

tr:hover {
  background-color: #8a0000 !important;
}

/* d3 */
.upGreenArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 12px 4.5px;
  border-color: transparent transparent #00cc00 transparent;
}

.downRedArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 4.5px 0 4.5px;
  border-color: #8a0000 transparent transparent transparent;
}

.upArrow {
  position: relative;
  top: -15px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #00cc00;
}

.upArrow:after {
  position: absolute;
  content: "";
  top: 20px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: #00cc00;
}

.downArrow {
  position: relative;
  top: 18px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #8a0000;
}

.downArrow:after {
  position: absolute;
  content: "";
  top: -15px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: #8a0000;
}

/* d3 candle stick start */
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Alata", sans-serif;
  font-size: 35px;
  fill: white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

/* d3 candle stick end */

/*# sourceMappingURL=index.css.map */
