@import "./_all";

body, .row, html {
    background-color: black;
}

button {
  background-color: black;
  color: $cream;
  border: $cream 2px solid;
  border-radius: 5px;
}

.container-fluid {
  height: 100%;

}

.col-3 {
  border-left: $blood 3px solid;
  padding: 0.5rem;
}

div.stacked {
  height: 450px;
  margin-bottom: 0.5rem;
  overflow: scroll;
  border-left: $blood 3px solid;
  padding: 0.75rem;
}

div.stacked::-webkit-scrollbar {
  width: 12px;
}

div.stacked::-webkit-scrollbar-track {
  background: orange;
}

div.stacked::-webkit-scrollbar-thumb {
  background-color: $blood;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;
}

.thead {
    background-color: $blue;
    color: $cream;
    padding: auto 0.25rem;
}

td {
  padding: 0.5rem;
  font-size: xx-small;
}

tr:hover {
  background-color: $blood;
}

/* d3 */

.upGreenArrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 12px 4.5px;
    border-color: transparent transparent $green transparent;
}

.downRedArrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 4.5px 0 4.5px;
    border-color: $blood transparent transparent transparent;
}

.upArrow {
    position: relative;
    top: -15px;
    left: -10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: $green;
}
.upArrow:after {
    position: absolute;
    content: "";
    top: 20px;
    left: -3px;
    width: 6px;
    height: 10px;
    background: $green;
}

.downArrow {
    position: relative;
    top: 18px;
    left: -10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: $blood;
}
.downArrow:after {
    position: absolute;
    content: "";
    top: -15px;
    left: -3px;
    width: 6px;
    height: 10px;
    background: $blood;
}

/* d3 candle stick start */

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: $body-font;
    font-size: 11px;
    fill: white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

/* d3 candle stick end */
